services:

  omekas:
    depends_on:
      - db
    build:
      context: omeka-s/
      args:
        - ENV_PHP_VERSION
        - ENV_OMEKAS_VERSION
        - ENV_MODULE_AdvancedSearch_VERSION
        - ENV_MODULE_ArchiveRepertory_VERSION
        - ENV_MODULE_Ark_VERSION
        - ENV_MODULE_BlockPlus_VERSION
        - ENV_MODULE_BlocksDisposition_VERSION
        - ENV_MODULE_BulkEdit_VERSION
        - ENV_MODULE_BulkExport_VERSION
        - ENV_MODULE_Common_VERSION
        - ENV_MODULE_CreateMissingThumbnails_VERSION
        - ENV_MODULE_CSVImport_VERSION
        - ENV_MODULE_CustomVocab_VERSION
        - ENV_MODULE_EasyAdmin_VERSION
        - ENV_MODULE_EUCookieBar_VERSION
        - ENV_MODULE_ExtractText_VERSION
        - ENV_MODULE_FileSideload_VERSION
        - ENV_MODULE_Generic_VERSION
        - ENV_MODULE_HideProperties_VERSION
        - ENV_MODULE_IiifSearch_VERSION
        - ENV_MODULE_IiifServer_VERSION
        - ENV_MODULE_ImageServer_VERSION
        - ENV_MODULE_Log_VERSION
        - ENV_MODULE_Mirador_VERSION
        - ENV_MODULE_ModelViewer_VERSION
        - ENV_MODULE_NdeTermennetwerk_VERSION
        - ENV_MODULE_NumericDataTypes_VERSION
        - ENV_MODULE_PdfViewer_VERSION
        - ENV_MODULE_SearchSolr_VERSION
        - ENV_MODULE_Sitemaps_VERSION
        - ENV_MODULE_Statistics_VERSION
        - ENV_MODULE_UniversalViewer_VERSION
        - ENV_MODULE_ValueSuggest_VERSION
        - ENV_THEME_Default_VERSION
    container_name: omekas
    environment: 
      VIRTUAL_HOST: omeka.local
      MYSQL_DATABASE: ${ENV_MYSQL_DATABASE}
      MYSQL_USER: ${ENV_MYSQL_USER}
      MYSQL_PASSWORD: ${ENV_MYSQL_PASSWORD}
      MYSQL_HOST: ${ENV_MYSQL_HOST}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - omeka:/var/www/html/volume
      - ./omeka-s/sideload:/data/sftp/omeka-sideload/
      - ./externals/omekas-theme-um:/var/www/html/themes/omekas-theme-um
      - ./externals/freedom:/var/www/html/themes/freedom
      - ./externals/omekas-helpers:/var/www/html/helper
    networks:
      default:
        aliases:
          - omeka.local


  db:
    image: mysql:8.0
    container_name: omekas_db
    command: --max_allowed_packet=2147483648
    environment:
      MYSQL_ROOT_PASSWORD: ${ENV_MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${ENV_MYSQL_DATABASE}
      MYSQL_USER: ${ENV_MYSQL_USER}
      MYSQL_PASSWORD: ${ENV_MYSQL_PASSWORD}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - db:/var/lib/mysql
      # Load the initial Omeka database contents when the data volume above is empty (e.g. at first start after removal of the data volume)
      - ./db/init-omekas-db.sql:/docker-entrypoint-initdb.d/init-omekas-db.sql


  phpmyadmin:
    image: phpmyadmin:5.2.0-apache
    container_name: omekas_phpmyadmin
    depends_on:
      - db
    environment:
      VIRTUAL_HOST: db.local
      # Remove the 2 lines below to restore the login screen
      PMA_USER: omekas
      PMA_PASSWORD: difficult_omek4s_password

  solr:
    build: solr/
    container_name: omekas_solr
    environment:
      ENV_SOLR_CORE: omekas
      VIRTUAL_HOST: solr.local
      VIRTUAL_PORT: 8983
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - solrdata:/var/solr

  proxy:
    image: jwilder/nginx-proxy
    container_name: proxy
    environment:
      DEFAULT_HOST: omeka.local
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/ssl/certs:/etc/nginx/certs/
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./proxy/omeka.conf:/etc/nginx/vhost.d/omeka.local

volumes:
  db:
  omeka:
  solrdata:

